---
import Layout from '../../layouts/Layout.astro'
import type { GetStaticPaths } from "astro";
import { getLaunchBy, getLatestLaunches} from "../../services/spacex"
const {id} = Astro.params
let launch

export const prerender = false

console.log({id})

if(id){
    launch = await getLaunchBy({id})
}

/*export async function getStaticPaths(){

    const launches = await getLatestLaunches()

    return launches.map(launch => ({
        params: {id:launch.id}
    }))}*/


console.log(launch)
---
<Layout title={`lanzamiento ${id}`}>
    <article class="flex gap-y-4 flex-col">
        <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name} />
        <h2 class="text-4xl text-white - font-bold">
            launch #{launch?.flight_number}
        </h2>
        <p class="text-lg">{launch?.details }</p>
    </article>
</Layout>
